@tailwind base;
@tailwind components;
@tailwind utilities;

.cardContainer{
  @apply border border-white rounded-2xl p-4 flex flex-col justify-between gap-4 backdrop-blur-[2.5px];
  max-width: 560px;
  min-height: 500px;
}

.cardContainer:hover{
  @apply scale-105;
}

.cardTitle{
  @apply text-3xl;
}

.cardDesc{
  @apply text-xl;
}

.langSection{
  @apply flex flex-row gap-2 text-4xl;
}

.titleStatusDiv{
  @apply flex flex-row justify-between items-center pt-4;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}